@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 1.6rem;
}

.App {
  text-align: center;
}

.days-wrapper {
  display: flex;
}

.scale-button {
  margin-bottom: 5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: rgb(39, 129, 36);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

